<h1 class= "text-center mt-5"><%= @bakery.name %></h1>
<div class="container border rounded shadow p-5">
  <h3 class= "text-center text-muted m-2">Add a new bread</h3>
  <%= simple_form_for @bread do |f| %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :price, label: "Price ¥", input_html: { min: '0', step: 'any' } %>
    <%= f.input :min_quantity, collection: 1..98, input_html: { class: 'select2'}  %>
    <%= f.input :max_quantity, collection: 1..99, input_html: { class: 'select2'}   %>
    <%= f.submit class: "btn btn-outline-success btn-block btn-lg" %>
  <% end %>
</div>